@import "constants";

html {
  background: $blue;
  color: $blue-darker;
  font: 12px "Open Sans", sans-serif;

  > body {
    margin: 0;

    &:before {
      $barely-white: transparentize($white, 0.5);
      $not-white: transparentize($white, 1);

      $gradient-width: $full-width * 1.5;
      $gradient-half-width: $gradient-width / 2;

      @include radial-gradient(#{$barely-white, $not-white, $not-white});
      content: " ";
      height: $gradient-width;
      left: 50%;
      margin: {
        left: -$gradient-half-width;
        top: -$gradient-half-width;
      };
      position: fixed;
      top: 50%;
      width: $gradient-width;
    }
  }
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: $full-width;

  > header {
    color: $white;
    overflow: hidden;
    margin: 30px 0;

    > h1 {
      float: left;
      margin: 0;

      > a {
        display: block;

        > img {
          display: block;
        }
      }
    }

    > nav {
      float: right;
      font: {
        size: 10px;
        weight: bold;
      };
      line-height: 45px;

      > ul {
        margin: 0;
        padding: 0;

        > li {
          display: block;
          float: left;

          > a {
            color: inherit;
            display: inline-block;
            text: {
              align: center;
              decoration: none;
            };
            width: $twelfth-width + $gutter-width;

            > img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  > #main {
    position: relative;

    // Main pages
    > section {
      @include transition(#{
        opacity 0.25s ease-in-out,
        top 0.25s ease-in-out
      });
      height: 100%;
      left: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: $gutter-width * 2;
      width: 100%;

      &.active {
        opacity: 1;
        position: relative;
        top: 0;
        z-index: 1;
      }

      // Module on a main page
      > section {
        @include box-sizing(border-box);
        background: $white;
        border-top: 5px solid $blue-darker;
        border-radius: 3px;
        box-shadow: 0 3px 3px -3px transparentize($black, 0.33);
        margin-bottom: $gutter-width;

        &.content,
        > .content {
          padding: $gutter-width;
        }

        h2 {
          font: {
            size: 35px;
            weight: 800;
          };
          margin: 0;
        }

        h3 {
          font: {
            size: 15px;
            weight: 600;
          };
          margin: 0;
        }

        p {}
      }
    }
  }
}
