@import "constants";

[data-page="profile"] {
  > .login-form {
    text-align: center;

    label {
      display: block;
      margin: 0 0 ($gutter-width / 2);

      > span {
        display: inline-block;
        width: 8em;
      }
    }

    > .errors {
      font-weight: bold;
      margin: 0 0 ($gutter-width / 2);
    }

    > .waiting,
    > .sign-out {
      display: none;
    }

    &.waiting {
      > .sign-in {
        display: none;
      }

      > .waiting {
        display: block;
      }
    }
  }

  > .summary {
    display: none;

    > h3 {
      margin: $gutter-width;

      > .sign-out {
        color: inherit;
        float: right;
        font-size: 10px;
        margin-top: 5px;
        opacity: 0.5;
        text-decoration: none;
      }
    }

    > .map {
      border-top: 1px solid $gray-light;
      height: 250px;
    }

    > .scoreboard {}
  }

  > .favorites {
    display: none;
    float: left;
    margin-right: $gutter-width;
    width: $two-third-width;

    > h4 {
      border-bottom: 1px solid $gray-light;
      margin: 0;
    }

    > ul {
      @include contain-floats;
      margin: 0;
      padding: 0;

      > li {
        @include box-sizing(border-box);
        display: block;
        margin: 0;
        padding: 0 0 20px 20px;
        float: left;
        width: 33%;

        > a {
          display: block;
          position: relative;

          .thumbnail {
            @include box-sizing(border-box);
            border: 5px solid white;
            box-shadow: 0 1px 3px -1px $black;
            display: block;
            width: 100%;
          }

          .info {
            @include transition(opacity 0.25s ease-in-out);
            bottom: 10px;
            color: $white;
            font-weight: bold;
            opacity: 0;
            position: absolute;
            right: 15px;
            text: {
              align: right;
              shadow: 0 1px 2px transparentize($black, 0.5);
            }
          }

          &:hover {
            .info {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  > .recents {
    display: none;
    float: left;
    width: $third-width;

    > h4 {
      border-bottom: 1px solid $gray-light;
      margin: 0;
    }
  }

  &.signed-in {
    > .login-form {
      display: none;
    }

    > .summary,
    > .favorites,
    > .recents {
      display: block;
    }
  }

  &.has-favorites > .favorites,
  &.has-recents > .recents,
  &.has-groups > .groups {
    > .none {
      display: none;
    }

    > ul {
      display: block;
    }
  }
}
