<div class="image"><!--Creature picker--></div>

<div class="options">
	<div class="steps">
		<nav>
			<a href="#/classify/ground-cover" class="ground-cover breadcrumb">Ground cover</a>
			<a href="#/classify/species" class="species breadcrumb">Species</a>
		</nav>

		<div data-page="ground-cover" class="ground-cover active">
			<ul class="toggles">
				<!--<li><button value="id">description</button></li>-->
			</ul>

			<button disabled="disabled" class="finished">Done identifying ground cover</button>
		</div>

		<div data-page="species" class="species">
			<ul class="toggles">
				<li><button value="seastar" data-marker="circle">Seastar <span class="count">0</button></li>
				<li><button value="fish" data-marker="axes">Fish <span class="count">0</button></li>
				<li><button value="scallop" data-marker="axes">Scallop <span class="count">0</button></li>
				<li><button value="crustacean" data-marker="axes">Crustacean <span class="count">0</button></li>
				<li><button value="cool" data-marker="circle">Something cool <span class="count">0</button></li>
			</ul>

			<div class="indicator"><!--Marker indicator--></div>

			<button disabled="disabled" class="finished">Done identifying species</button>
		</div>

		<div class="followup">
			<button class="favorite">Add to my favorites</button>
		</div>
	</div>

	<div class="summary">
		<div class="thumbnail">
			<img />
		</div>

		<div class="heading">Results</div>

		<table class="ground-cover"><tbody></tbody></table>

		<table class="species"><tbody></tbody></table>

		<button class="toggle-map">View location on a map</button>

		<p>Would you like to discuss this image in Talk?</p>

		<div class="talk">
			<button class="yes">Yes</button>
			<button class="no">No</button>
		</div>
	</div>
</div>
