<div class="image"><!--Creature picker--></div>

<div class="options">
	<div class="steps">
		<nav>
			<a href="#/classify/ground-cover" class="ground-cover breadcrumb">Ground cover</a>
			<a href="#/classify/species" class="species breadcrumb">Species</a>
		</nav>

		<div data-page="ground-cover" class="ground-cover active">
			<ul class="toggles">
				<!--<li><button value="id">description</button></li>-->
			</ul>

			<button disabled="disabled" class="finished">Done identifying ground cover</button>
		</div>

		<div data-page="species" class="species">
			<ul class="toggles">
				<li><button value="seastar">Seastar <span class="count">0</button></li>
				<li><button value="fish">Fish <span class="count">0</button></li>
				<li><button value="scallop">Scallop <span class="count">0</button></li>
				<li><button value="squid">Squid <span class="count">0</button></li>
				<li><button value="shrimp">Shrimp <span class="count">0</button></li>
			</ul>

			<button disabled="disabled" class="finished">Done identifying species</button>
		</div>

		<div class="followup">
			<button class="discuss">Discuss this image</button>
			<button class="favorite">Add to my favorites</button>
		</div>
	</div>

	<div class="summary">
		<p>You've classified <span class="total">X</span> species!</p>

		<p>TODO: Table</p>

		<p>Would you like to discuss this image in Talk?</p>
		<div class="talk">
			<button class="yes">Yes</button>
			<button class="no">No</button>
		</div>
	</div>
</div>
