@import "common";

.main [data-page="about"] {
  > [data-page="data"] {
    > section > section {
      border-top: 1px solid $gray-light;

      > .example {
        float: left;
        margin-right: $gutter-width;
        width: $full-width * (2 / 5);
      }
    }
  }

  > [data-page="people"] > section > section {
    @include contain-floats;
    border-top: 1px solid $gray-light;

    > .headshot {
      display: block;
      float: left;
      margin: $gutter-width {right: 0;};
      width: 80px;

      & + .content {
        float: left;
        width: $full-width - 80 - ($gutter-width * 3);

        :first-child {
          margin-top: 0;
        }
      }
    }

    > .content {
      margin: $gutter-width {right: 0;};
    }
  }
}
