@import "common";

$titillium-dir: "lib/TitilliumText";

@font-face {
	font-family: "Titillium";
	font-weight: 100;
	font-style: normal;
	src: url($titillium-dir + "/TitilliumText22L001-webfont.eot");
	src:
		url($titillium-dir + "/TitilliumText22L001-webfont.eot?#iefix") format("embedded-opentype"),
		url($titillium-dir + "/TitilliumText22L001-webfont.woff") format("woff"),
		url($titillium-dir + "/TitilliumText22L001-webfont.ttf") format("truetype"),
		url($titillium-dir + "/TitilliumText22L001-webfont.svg#TitilliumText22LThin") format("svg");
}

@font-face {
	font-family: "Titillium";
	font-weight: 400;
	font-style: normal;
	src: url($titillium-dir + "/TitilliumText22L002-webfont.eot");
	src:
		url($titillium-dir + "/TitilliumText22L002-webfont.eot?#iefix") format("embedded-opentype"),
		url($titillium-dir + "/TitilliumText22L002-webfont.woff") format("woff"),
		url($titillium-dir + "/TitilliumText22L002-webfont.ttf") format("truetype"),
		url($titillium-dir + "/TitilliumText22L002-webfont.svg#TitilliumText22LLight") format("svg");
}

@font-face {
	font-family: "Titillium";
	font-weight: 700;
	font-style: normal;
	src: url($titillium-dir + "/TitilliumText22L004-webfont.eot");
	src:
		url($titillium-dir + "/TitilliumText22L004-webfont.eot?#iefix") format("embedded-opentype"),
		url($titillium-dir + "/TitilliumText22L004-webfont.woff") format("woff"),
		url($titillium-dir + "/TitilliumText22L004-webfont.ttf") format("truetype"),
		url($titillium-dir + "/TitilliumText22L004-webfont.svg#TitilliumText22LMedium") format("svg");
}
