@import "http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800";

@import "translations";
@import "common";

html {
  background: $blue;
  color: $blue-darker;
  font: 12px "Open Sans", sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;

  &:before {
    $barely-white: transparentize($white, 0.5);
    $not-white: transparentize($white, 1);
    $gradient-width: $full-width * 1.5;
    $gradient-half-width: $gradient-width / 2;

    @include radial-gradient(#{$barely-white, $not-white, $not-white});
    content: " ";
    height: $gradient-width;
    left: 50%;
    margin: {
      left: -$gradient-half-width;
      top: -$gradient-half-width;
    };
    position: fixed;
    top: 50%;
    width: $gradient-width;
  }
}

.app {
  margin: 0 auto;
  padding-top: $gutter-width;
  position: relative;
  width: $full-width;

  > header {
    color: $white;
    overflow: hidden;
    margin: 30px 0;

    > h1 {
      float: left;
      margin: 0;

      > a {
        display: block;

        > img {
          border: 0;
          display: block;
        }
      }
    }

    > nav {
      float: right;
      font: {
        size: 10px;
        weight: bold;
      };
      line-height: 30px;
      margin-top: 10px;

      > ul {
        margin: 0;
        padding: 0;

        > li {
          display: block;
          float: left;

          > a {
            border-radius: 5px;
            color: inherit;
            display: inline-block;
            margin-left: $gutter-width / 2;
            text: {
              align: center;
              decoration: none;
              shadow: 0 1px 1px transparentize($black, 0.75);
            };
            width: ($twelfth-width + $gutter-width) - ($gutter-width / 2);

            > img {
              display: block;
              margin: 0 auto;
            }

            &:hover {
              box-shadow: 0 0 2px $white inset;
            }

            &.active {
              box-shadow:
                0 0 5px $white inset,
                0 1px 1px transparentize($black, 0.75);
            }
          }
        }
      }
    }
  }
}

.main {
  position: relative;

  // Main pages
  > section {
    @include transition(#{
      opacity 0.25s ease-in-out,
      top 0.25s ease-in-out
    });
    height: 100%;
    left: 0;
    opacity: 0; filter: alpha(opacity=0);
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: $gutter-width * 2;
    width: 100%;

    &.active {
      opacity: 1; filter: alpha(opacity=100);
      pointer-events: all;
      position: relative;
      top: 0;
      z-index: 1;
    }

    // Module on a main page
    > section {
      @include box-sizing(border-box);
      background: $white;
      border-top: 5px solid $blue-darker;
      border-radius: 3px;
      box-shadow: 0 3px 3px -3px transparentize($black, 0.33);
      margin-bottom: $gutter-width;

      // Provide padding either on the module or on its child(ren).
      &.content {
        padding: $gutter-width;
      }

      > .content {
        margin: $gutter-width;
      }

      h2 {
        font: {
          size: 35px;
          weight: 800;
        };
        margin: 0;
      }

      h3 {
        font: {
          size: 15px;
          weight: 600;
        };
        margin: 0;
      }

      h4 {}

      p {}
    }
  }
}
