@import "common";

.main [data-page="profile"] {
  > .login-form {
    margin: 100px auto 0;
    text-align: center;
    width: 40%;

    label {
      display: block;
      margin: ($gutter-width / 2) 0;

      > span {
        display: block;
      }
    }

    > .errors {
      font-weight: bold;
      margin: 0 0 ($gutter-width / 2);
    }

    > .waiting,
    > .sign-out {
      display: none;
    }

    &.waiting {
      > .sign-in {
        display: none;
      }

      > .waiting {
        display: block;
      }
    }
  }

  > .summary {
    display: none;

    > h3 {
      margin: $gutter-width;

      > .sign-out {
        color: inherit;
        float: right;
        font-size: 10px;
        margin-top: 5px;
        opacity: 0.5;
        text-decoration: none;
      }
    }

    > .map {
      border-top: 1px solid $gray-light;
      height: 250px;
    }

    > .scoreboard {}
  }

  > .favorites {
    display: none;
    float: left;
    margin-right: $gutter-width;
    width: $two-third-width;

    > ul {
      @include contain-floats;
      margin: 0;
      padding: 0;

      > li {
        @include box-sizing(border-box);
        display: block;
        float: left;
        margin: 0;
        padding: 0 0 $gutter-width $gutter-width;
        position: relative;

        .delete {
          @include transition(opacity 0.25s ease-in-out);
          background: transparent;
          border: 0;
          color: $white;
          cursor: pointer;
          font-weight: bold;
          opacity: 0;
          padding: 0;
          position: absolute;
          right: 3px;
          top: 3px;
          z-index: 1;
        }

        > a {
          display: block;
          position: relative;
          text-align: center;

          .thumbnail {
            @include box-sizing(border-box);
            background: #ccc;
            border-radius: 4px;
            box-shadow: 0 1px 0 #fff;
            display: block;
            width: ($two-third-width - ($gutter-width * 4)) / 3;
            height: 155px;
          }

          .info {
            @include transition(opacity 0.25s ease-in-out);
            bottom: 10px;
            color: $white;
            font-weight: bold;
            left: 0;
            opacity: 0;
            position: absolute;
            width: 100%;
          }
        }

        &:hover {
          .delete,
          .info {
            opacity: 1;
          }
        }
      }
    }

    p.more {
      display: none;
      text-align: right;

      button {
        background: transparent;
        border: 0;
        cursor: pointer;
      }
    }
  }

  > .recents {
    display: none;
    float: left;
    width: $third-width;

    ul {
      margin: 0;
      padding: 0;

      li {
        @include contain-floats;
        border-top: 1px solid $gray-light;
        display: block;
        padding: 10px;
      }
    }

    p.more {
      display: none;
      text-align: right;

      button {
        background: transparent;
        border: 0;
        cursor: pointer;
      }
    }

    .thumbnail {
      border-radius: 5px;
      box-shadow: 0 1px 0 #fff;
      float: left;
      width: 25%;
    }

    .description {
      @include box-sizing(border-box);
      float: left;
      font-weight: bold;
      padding-left: $gutter-width / 2;
      width: 75%;

      .visited {
        font-weight: normal;
      }
    }
  }

  &.signed-in {
    > .login-form {
      display: none;
    }

    > .summary,
    > .favorites,
    > .recents {
      display: block;
    }
  }

  &.has-favorites > .favorites,
  &.has-recents > .recents,
  &.has-groups > .groups {
    > .none {
      display: none;
    }

    > p.more {
      display: block;
    }

    > ul {
      display: block;
    }
  }
}
