@import "common";

.main .scoreboard {
  @include contain-floats;

  > .score {
    @include box-sizing(border-box);
    border-left: 1px solid $gray-light;
    float: left;
    text-align: right;
    width: 20%;

    &:first-child {
      border-left: 0;
    }

    > .description {
      color: $white;
      font-weight: 800;
      line-height: 1.5;
      padding: ($gutter-width * 2) $gutter-width $gutter-width;
    }

    &.seastar         > .description {background: $seastar-color;}
    &.fish            > .description {background: $fish-color;}
    &.scallop         > .description {background: $scallop-color;}
    &.crustacean      > .description {background: $crustacean-color;}
    &.classifications > .description {background: $cool-color;}

    > .count {
      font-size: 20px;
      line-height: 1;
      padding: $gutter-width;
    }
  }
}
