@import "constants";

#classification {
	$width: 1000px;
	$height: 570px;

	height: $height;
	margin-left: -$width / 2;
	left: 50%;
	position: absolute;
	top: 0;
	width: $width;
}

#subject {
	background: $white;
	height: 560px;
	padding: 5px;
	position: relative;
	width: 705px;
	z-index: 1;

	> .selection-area {
		height: 100%;
		position: relative;
		width: 100%;

		&.disabled {
			cursor: not-allowed;
		}

		> img {
			height: 100%;
			position: absolute;
			width: 100%;
		}

		// Raphael's canvas
		// Styled inline by Raphael.
		> svg,
		> div {}
	}
}

#classifier {
	background: $white;
	bottom: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 290px;

	> header {
		.position,
		.depth {}
	}

	> .steps {
		> .step {
			ul.toggles {
				> li {
					> button {
						> .count {}

						&.active {}
					}
				}
			}

			.delete {}

			.finished {
				&:disabled {}
			}

			&.active {}
		}
	}

	> .summary {}
}
