@import "constants";

#information > #classifier {
	@include linear-gradient(rgb(55, 67, 77), rgb(36, 48, 57));
	@include box-shadow(0 0 10px $black inset);
	color: $white;
	height: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;

	> header {
		font-size: 14px;
		padding: 15px 40px 10px;
	}

	> .steps {
		@include box-sizing(border-box);
		@include transition(bottom 0.5s ease-in-out);
		background: $white;
		bottom: 0;
		color: $gray-darkest;
		height: 520px;
		left: 0;
		padding: 20px 40px;
		position: absolute;
		width: 100%;

		&:before {
			background: url("classifier-page-tear.png") bottom center repeat-x;
			bottom: 100%;
			content: "";
			height: 9px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		&.finished {
			bottom: -500px;
		}

		> .breadcrumbs {
			color: $gray;
			font: {
				size: 12px;
				weight: bold;
			};
			letter-spacing: 1px;
			text-transform: uppercase;

			> .breadcrumb {
				&.active {
					color: $gray-darker;
				}
			}
		}

		> .step {
			display: none;

			ul.toggles {
				border: 1px solid $gray;
				font-size: 20px;
				padding: 0;
				text-shadow: 0 1px 0 $white;
				text-transform: lowercase;

				> li {
					display: block;

					> button {
						@include linear-gradient($gray-lightest, $gray-light);
						border: 0 {
							bottom: 1px solid $gray;
						};
					  cursor: pointer;
						display: block;
					  font: {
					  	family: inherit;
						  size: inherit;
						};
						margin: 0;
						padding: 10px 15px 5px;
						text-shadow: inherit;
						width: 100%;

						> .count {
							float: right;
							font-size: 16px;
						}

						&.active {
							@include box-shadow(0 1px 3px rgb(110, 135, 135) inset);
							background: rgb(184, 200, 200);
							color: rgb(110, 135, 135);
						}
					}
				}
			}

			.delete {
				background: transparent;
				border: 0;
				color: $gray-darker;
				cursor: pointer;
				padding: 0;

				&:disabled {
					opacity: 0.5;
				}
			}

			.finished {
				@include action-button;
				width: 100%;

				&:disabled {
					cursor: default;
					opacity: 0.5;
				}
			}

			&.active {
				display: block;
			}
		}

		> .followup {
			margin: 20px 0;

			> button {
				@include action-button(true);
				float: left;
				width: 47%;

				&.discuss {
					float: right;
				}
			}
		}
	}

	> .summary {
		padding: 10px 40px;
	}
}
