@import "constants";

[data-page="home"] {
  .map {
    height: 250px;
    width: 100%;
  }

  .dive-in {
    @include linear-gradient(lighten($orange, 25%), $orange);
    border: 1px solid $orange {radius: 5px;};
    color: $white;
    float: right;
    font-size: 22px;
    padding: ($gutter-width / 2) ($gutter-width * 3);
    text-decoration: none;
  }
}
