@import "constants";

#images {
  @include box-shadow(0 0 10px $black);
  background: gray;
  height: 100%;
  left: 0;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 759px;
  z-index: 1;

  #subject {
    height: 100%;
    width: 100%;

    &.disabled {
      cursor: not-allowed;
    }

    // TODO: What's this element in IE?
    > svg {
      position: absolute;
      z-index: 1;
    }

    > img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
