@import "constants";

#information {
  // @include box-shadow(10px 0 10px -10px black inset);
  background: $gray-lightest;
  color: $gray-darker;
  font-size: 14px;
  height: 100%;
  left: 759px;
  line-height: 1.5;
  min-width: 265px;
  overflow: auto;
  // BUGGY: -webkit-overflow-scrolling: touch
  position: absolute;
  right: 0;
  top: 0;

  > section {
    display: none;
    height: 100%;
    padding: 40px;

    &.active {
      display: block;
    }
  }

  h2 {
    background: $orange-dark;
    color: white;
    display: inline;
    font: {
      size: 50px;
      weight: lighter;
    };
    margin: 0;
    line-height: 1.1;
    text-transform: lowercase;
  }

  h3 {
    background: $gray-darkest;
    color: white;
    display: inline-block;
    font: {
      size: 50px;
      weight: lighter;
    };
    line-height: 1;
    margin: 0.5em 0;
    padding: 20px 20px 10px;
    position: relative;
    text-transform: lowercase;

    &:before {
      display: block;
      content: "";
    }

    &:after {
      border: {
        color: transparent transparent transparent $gray-darkest;
        style: solid;
        width: 20px;
      };
      bottom: -20px;
      content: " ";
      display: block;
      height: 0;
      position: absolute;
      left: 0;
      width: 0;
    }
  }

  h4 {
    color: $gray-darker;
    font: {
      size: 16px;
      weight: bold;
    };
    text-transform: uppercase;
  }

  hr {
    border: {
      color: $gray;
      style: solid;
      width: 1px 0;
    };
    height: 5px;
    margin: 2em 0;
  }

  p.major {
    font-size: 22px;
  }

  p.action {
    text-align: center;

    a {
      @include action-button()
    }
  }
}
