@import "constants";

html {
  background: $blue;
  font: 16px Titillium, sans-serif;

  > body {
    margin: 0;
  }

  &.pre-load * {
    // Nothing will animate until this class is removed.
    @include transition(all 0 linear 0 !important);
  }
}

#wrapper {
  > header {
    color: $white;
    height: 80px;
    line-height: 50px;
    margin: 0 auto;

    > h1 {
      float: left;
      margin: 0;

      > a {
        color: inherit;
        display: inline-block;
        margin-left: -15px;
        padding: 15px;
        text-decoration: none;
      }
    }

    > nav {
      float: right;
      margin-right: -15px;

      > ul {
        margin: 0;
        padding: 0;

        > li {
          display: inline-block;

          > a {
            color: inherit;
            display: inline-block;
            padding: 15px;
            text-decoration: none;
          }
        }
      }
    }
  }

  > #main {
    position: relative;

    > section {}
  }
}
