@import "constants";

html {
  background: $blue;
  font: 16px Titillium, sans-serif;

  > body {
    margin: 0;

    &.pre-load * {
      // Nothing will animate until this class is removed.
      @include transition(all 0 linear 0 !important);
    }
  }
}

#wrapper {
  margin: 0 auto;
  width: $full-width;

  > header {
    color: $white;
    overflow: hidden;
    padding: 10px 0;

    > h1 {
      float: left;
      font-weight: inherit;
      margin: 25px 0 0;

      > a {
        color: inherit;
        letter-spacing: 1px;
        text: {
          decoration: none;
          transform: lowercase;
        };
        word-spacing: -0.25em;
      }
    }

    > nav {
      float: right;
      font: {
        size: 10px;
        weight: bold;
      };

      > ul {
        margin: 0;
        padding: 0;

        > li {
          display: block;
          float: left;

          > a {
            color: inherit;
            display: inline-block;
            text: {
              align: center;
              decoration: none;
            };
            width: $twelfth-width + $gutter-width;

            > img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  > #main {
    > section {
      position: relative;
    }
  }
}
